---
driver:
  name: proxy
  host: localhost
  reset_command: "exit 0"
  port: 5985
  username: <%= ENV["machine_user"] %>
  password: <%= ENV["machine_pass"] %>

transport:
  name: winrm
  elevated: true

provisioner:
  name: chef_zero
  deprecation_as_errors: true
  product_name: chef
  product_version: 15
  chef_license: accept

platforms:
  - name: windows-2012R2
  - name: windows-2016
  - name: windows-2019
  - name: windows-2022

suites:
  - name: default
    run_list:
      - recipe[winrm::default]
